*{
	padding: 5px;
	margin: 0px;
    box-sizing: border-box;
}

#container {
    display: flex;
    justify-content: space-between;
}

.section {
    width: 50%;
    margin: 0 5px;
    background-color: lightskyblue;
}
